@import 'header.scss';
@import 'symptomes.scss';


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1rem;
    text-decoration: none;
    font-family: 'Cairo',
        sans-serif !important;

}